<!DOCTYPE html>
<html>
<head>
    <title>Productos en Tiempo Real</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="products-list">
        {{#each products}}
            <li id="product-{{this.id}}">
                {{this.title}} - {{this.price}}
                <button onclick="deleteProduct({{this.id}})">Eliminar</button>
            </li>
        {{/each}}
    </ul>
    <form id="add-product-form">
        <input type="text" name="title" placeholder="Título" required>
        <input type="text" name="description" placeholder="Descripción" required>
        <input type="text" name="code" placeholder="Código" required>
        <input type="number" name="price" placeholder="Precio" required>
        <input type="number" name="stock" placeholder="Stock" required>
        <input type="text" name="category" placeholder="Categoría" required>
        <input type="text" name="thumbnails" placeholder="Imágenes (separadas por comas)">
        <button type="submit">Agregar Producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/script.js"></script>
</body>
</html>
